body {
    font-family: sans-serif;

    button {
        border-radius: 16px;
        border: none;
        padding: 4px 16px;

        &:hover {
            background-color: #0011ff;
            color: #fff;
            cursor: pointer;
        } 
    }

    input {
        border-radius: 16px;
        border: none;
        padding: 6px 16px;
        outline: none;
    }
    
    .input-area {
        background-color: #50f8a4;
        width: 400px;
        height: 30px;
        padding: 8px;
        margin: 8px;
        border-radius: 8px;
    }

    .incomplete-area {
        background-color: #ffbc40;
        width: 400px;
        min-height: 200px;
        padding: 8px;
        margin: 8px;
        border-radius: 8px;
    }

    .complete-area {
        background-color: #00a7f5;
        width: 400px;
        min-height: 200px;
        padding: 8px;
        margin: 8px;
        border-radius: 8px;   
    }

    .title {
        text-align: center;
        margin-top: 0;
        font-weight: bold;
        color: #666;
    }

    .list-row {
        display: flex;
        align-items: center;
        padding-bottom: 4px;

        li {
            margin-right: 8px;
        } 
    }
}